<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Nuevo Usuario</title>
</head>

<body>

	<h1>Nuevo Usuario</h1>

	<form th:action="@{/usuarios/guardar}" th:object="${usuario}" method="post">

		<label>Nombre:</label>
		<input type="text" th:field="*{nombre}">

		<div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>

		<br><br>

		<label>Email:</label>
		<input type="email" th:field="*{email}">

		<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>

		<br><br>

		<label>Teléfono:</label>
		<input type="text" th:field="*{telefono}">

		<div th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></div>

		<br><br>

		<button type="submit">Guardar</button>

	</form>

	<br>

	<a th:href="@{/usuarios}">Volver</a>

</body>

</html>